.infopage {
    display: flex;
    flex-direction: row;
    margin: 60px;
    justify-content: space-between;


    &__leftside {
        width: 40%;
        height: 200px;
        text-align: center;
        //border: 2px solid black;
        /* display: none; */
        
        img {
            width: 400px;
            height: 400px;
            text-align: center
        }
        
    }

    &__rightside {
        display: flex;
        padding: 20px;
        flex-direction: column;
        /* text-align: right; */
        width: 50%;
        height: 400px;
        border: 2px solid #e6f7ff;
        /* margin: 50px; */

        &-title {
            text-align: center;
        }   
    }
}