.workspace__start {
  display: flex;
  flex-direction: column;
  padding: 20px;


  .first-block {
    height: 60%;
    padding: 20px 10px;
    width: 100%;
    border-bottom: 25px solid #76cdd8; 
     width: 80%;
  margin: auto;
  }

  .button_container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 30px 0;

    .start_button {
      height: 100px;
      min-width: 200px;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      border-radius: 13px;
      outline: none;
      cursor: pointer;
      margin-left: 50px;

      &.evening {
        background-color: #76cdd8;
        border: 1px solid #76cdd8;
        color: white;
      }
      &.exam {
        background-color: #263852;
        border: 1px solid #263852;
        color: white;
      }
      &.assesment {
        background-color: #cadd54;
        border: 1px solid #cadd54;
        color: white;
      }
    }
  }
  .discription {
    margin: 20px;
  }
  .containerCard {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    padding: 20px;
  }
}
