.header {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: white;
  height: 48px;
  border-bottom: 1px solid #76cdd8;
  box-shadow: 0 2px 6px 0 rgba(46, 11, 110, 0.05);

  .logo {
    width: 45px;
    height: 45px;
  }
}
